beautifulsoup4==4.8.2
bs4==0.0.1
cloudscraper==1.2.18
Flask==1.1.1
Flask-Cors==3.0.9
Flask-RESTful==0.3.7
freeze==1.0.10
lxml==4.6.5
numpy==1.17.4 
Pillow==9.0.0
requests==2.22.0
requests-toolbelt==0.9.1
urllib3==1.26.5
gunicorn==20.0.4
psycopg2-binary==2.8.4
